<div class="jumbotron jumbotron-fluid jumbotron-home">
  <div class="container container-home">
    <h1 class="display-4">Hoboken Cafe</h1>
    <p class="lead">Hoboken's finest cafe. Delivering you high quality, gourmet foods from around the world.</p>
  </div>
</div>

<br>
<br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="public/uploads/siteimages/order.png" alt="Order Online">
    <div class="card-body">
      <h5 class="card-title">Order Online</h5>
      <p class="card-text">Select your favorites from our gourmet menu, and we'll have them ready by the time you arrive.</p>
      <a href="/menu" class="btn btn-primary">View Menu</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="public/uploads/siteimages/profile.png" alt="My Profile">
    <div class="card-body">
      <h5 class="card-title">My Account</h5>
      <p class="card-text">View your account information, recent orders, and more.</p>
      <a href="/user" class="btn btn-primary">View Account</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="public/uploads/siteimages/reviews.png" alt="Reviews">
    <div class="card-body">
      <h5 class="card-title">Browse Reviews</h5>
      <p class="card-text">We pride ourselves on delivering the highest quality food possible. See what our customers say about us.</p>
      <a href="/writeReview" class="btn btn-primary">See Reviews</a>
    </div>
  </div>
</div>